### Restaurants
R1 = 1 chefmozaccepts.csv

R2 = 2 chefmozcuisine.csv

R3 = 3 chefmozhours4.csv

R4 = 4 chefmozparking.csv

R5 = 5 geoplaces2.csv


### User
U6 = 6 usercuisine.csv

U7 = 7 userpayment.csv

U8 = 8 userprofile.csv


### User-Item-Rating

U9 = 9 rating_final.csv

In [1]:
#1 chefmozaccepts.csv 2 chefmozcuisine.csv 3 chefmozhours4.csv 4 chefmozparking.csv 5 geoplaces2.csv
payment_methods_url = 'https://raw.githubusercontent.com/JeanFraga/DS-Unit-1-Sprint-4-Linear-Algebra/master/Story%20Telling%20project/RCdata/chefmozaccepts.csv'
cuisine_url = 'https://raw.githubusercontent.com/JeanFraga/DS-Unit-1-Sprint-4-Linear-Algebra/master/Story%20Telling%20project/RCdata/chefmozcuisine.csv'
hours_operating_url = 'https://raw.githubusercontent.com/JeanFraga/DS-Unit-1-Sprint-4-Linear-Algebra/master/Story%20Telling%20project/RCdata/chefmozhours4.csv'
parking_url = 'https://raw.githubusercontent.com/JeanFraga/DS-Unit-1-Sprint-4-Linear-Algebra/master/Story%20Telling%20project/RCdata/chefmozparking.csv'
geo_places_url = 'https://raw.githubusercontent.com/JeanFraga/DS-Unit-1-Sprint-4-Linear-Algebra/master/Story%20Telling%20project/RCdata/geoplaces2.csv'
#6 usercuisine.csv 7 userpayment.csv 8 userprofile.csv
user_cuisine_url = 'https://raw.githubusercontent.com/JeanFraga/DS-Unit-1-Sprint-4-Linear-Algebra/master/Story%20Telling%20project/RCdata/usercuisine.csv'
user_payment_url = 'https://raw.githubusercontent.com/JeanFraga/DS-Unit-1-Sprint-4-Linear-Algebra/master/Story%20Telling%20project/RCdata/userpayment.csv'
user_profile_url = 'https://raw.githubusercontent.com/JeanFraga/DS-Unit-1-Sprint-4-Linear-Algebra/master/Story%20Telling%20project/RCdata/userprofile.csv'
#9 rating_final.csv
rating_final_url = 'https://raw.githubusercontent.com/JeanFraga/DS-Unit-1-Sprint-4-Linear-Algebra/master/Story%20Telling%20project/RCdata/rating_final.csv'
import pandas as pd

In [80]:
payment_methods = pd.read_csv(payment_methods_url, na_values= '?')
print(payment_methods.isnull().sum())
print(payment_methods.shape)
print(payment_methods.info())
payment_methods.head(10)

placeID     0
Rpayment    0
dtype: int64
(1314, 2)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1314 entries, 0 to 1313
Data columns (total 2 columns):
placeID     1314 non-null int64
Rpayment    1314 non-null object
dtypes: int64(1), object(1)
memory usage: 20.7+ KB
None

   placeID             Rpayment
0   135110                 cash
1   135110                 VISA
2   135110  MasterCard-Eurocard
3   135110     American_Express
4   135110     bank_debit_cards
5   135109                 cash
6   135107                 cash
7   135107                 VISA
8   135107  MasterCard-Eurocard
9   135107     American_Express

In [81]:
payment_methods.rename(str.lower, axis='columns', inplace=True)

In [82]:
payment_methods['rpayment'] = payment_methods['rpayment'].str.lower()

In [171]:
payment_methods.rpayment.value_counts()

cash                   500
visa                   255
mastercard-eurocard    194
american_express       153
bank_debit_cards       130
diners_club             42
discover                11
checks                  10
carte_blanche            7
gift_certificates        7
japan_credit_bureau      5
Name: rpayment, dtype: int64

In [187]:
#because no one payed with these types of payment I will go ahead and take them out of the final df
not_useful_payments = payment_methods.rpayment.value_counts()
not_useful_payments = not_useful_payments[not_useful_payments<130].index.tolist()

for i in range(len(not_useful_payments)):
    payment_methods=payment_methods[~payment_methods.rpayment.str.contains(not_useful_payments[i])]

In [191]:
# With this dataset I managed to reduce from 12 columns to 6 by removing unused types of payment
# Please reference to user_payment below for more information.

renamed_payments = {'rpayment_american_express': 'accepts_amex', 
                    'rpayment_bank_debit_cards': 'accepts_debit',
                   'rpayment_cash':'accepts_cash',
                   'rpayment_mastercard-eurocard': 'accepts_mastercard',
                   'rpayment_visa': 'accepts_visa'}
R1 = pd.get_dummies(payment_methods,columns=['rpayment']).groupby('placeid',as_index=False).sum()
R1.rename(columns=renamed_payments, inplace=True)
R1

,placeid,accepts_amex,accepts_debit,accepts_cash,accepts_mastercard,accepts_visa
0,132002,1,0,0,1,1
1,132012,1,1,0,0,1
2,132019,1,0,0,1,1
3,132023,1,1,0,0,0
4,132024,1,1,0,0,1
...,...,...,...,...,...,...
607,135105,0,0,1,0,0
608,135106,0,0,1,1,1
609,135107,1,1,1,1,1
610,135109,0,0,1,0,0
611,135110,1,1,1,1,1

In [260]:
cuisine = pd.read_csv(cuisine_url, na_values= '?')
print(cuisine.isnull().sum())
print(cuisine.shape)
cuisine.head(10)

placeID     0
Rcuisine    0
dtype: int64
(916, 2)

   placeID           Rcuisine
0   135110            Spanish
1   135109            Italian
2   135107     Latin_American
3   135106            Mexican
4   135105          Fast_Food
5   135104            Mexican
6   135103            Burgers
7   135103  Dessert-Ice_Cream
8   135103          Fast_Food
9   135103           Hot_Dogs

In [261]:
cuisine.rename(str.lower, axis='columns', inplace=True)
cuisine['rcuisine'] = cuisine['rcuisine'].str.lower()
cuisine.rcuisine.value_counts()

mexican                 239
international            62
american                 59
dutch-belgian            55
italian                  42
greek                    33
bar                      32
french                   31
cafe-coffee_shop         27
pizzeria                 25
bar_pub_brewery          24
cafeteria                23
chinese                  21
fast_food                20
seafood                  18
japanese                 17
german                   14
family                   14
mediterranean            13
burgers                  13
vegetarian               10
deli-sandwiches           9
contemporary              9
steaks                    8
latin_american            7
asian                     7
hot_dogs                  7
sushi                     6
bakery                    6
juice                     6
armenian                  5
polish                    5
continental-european      4
dessert-ice_cream         3
spanish                   3
diner                     3
barbecue                  3
regional                  3
african                   3
breakfast-brunch          3
southwestern              3
eastern_european          2
vietnamese                2
game                      2
korean                    1
bagels                    1
soup                      1
turkish                   1
caribbean                 1
southern                  1
afghan                    1
fine_dining               1
organic-healthy           1
persian                   1
brazilian                 1
thai                      1
ethiopian                 1
mongolian                 1
california                1
Name: rcuisine, dtype: int64

In [263]:
# I keep this variable so I can engineer a column with the total number of cuisines a restaurant has.
total_cuisine = (pd.get_dummies(cuisine,columns=['rcuisine']).groupby('placeid',as_index=False).sum()
                  .loc[:, 'rcuisine_afghan':].sum(axis=1))

0      1
1      1
2      1
3      1
4      2
      ..
764    1
765    1
766    1
767    1
768    1
Length: 769, dtype: int64

In [264]:
# In order to reduce dimensionality I will go ahead and only keep the top 20
# then make an additional column that holds the sum of the cuisines to retain some of the use.
not_useful_cuisine = cuisine.rcuisine.value_counts()
not_useful_cuisine = not_useful_cuisine[not_useful_cuisine<13].index.tolist()

for i in range(len(not_useful_cuisine)):
    cuisine=cuisine[~cuisine.rcuisine.str.contains(not_useful_cuisine[i])]

In [266]:
# With this dataset I managed to reduce dimensionality from 60 to 22
R2 = pd.get_dummies(cuisine,columns=['rcuisine']).groupby('placeid',as_index=False).sum()
R2['total_cuisine'] = total_cuisine
R2

,placeid,rcuisine_american,rcuisine_bar,rcuisine_bar_pub_brewery,rcuisine_burgers,rcuisine_cafe-coffee_shop,rcuisine_cafeteria,rcuisine_chinese,rcuisine_dutch-belgian,rcuisine_family,...,rcuisine_german,rcuisine_greek,rcuisine_international,rcuisine_italian,rcuisine_japanese,rcuisine_mediterranean,rcuisine_mexican,rcuisine_pizzeria,rcuisine_seafood,total_cuisine
0,132001,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,1
1,132002,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
2,132003,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
3,132004,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
4,132005,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,135103,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
696,135104,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,2
697,135105,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3
698,135106,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
699,135109,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1

In [ ]:
# for the time being I will go ahead and forgoe the times becuase it will take me long to engineer
# R3

In [267]:
parking = pd.read_csv(parking_url, na_values= '?')
print(parking.isnull().sum())
print(parking.shape)
parking.head(10)

placeID        0
parking_lot    0
dtype: int64
(702, 2)

   placeID    parking_lot
0   135111         public
1   135110           none
2   135109           none
3   135108           none
4   135107           none
5   135106           none
6   135105           none
7   135104            yes
8   135103  valet parking
9   135102  valet parking

In [270]:
parking.rename(str.lower, axis='columns', inplace=True)
parking['parking_lot'] = parking['parking_lot'].str.lower()
parking.parking_lot.value_counts()

none                 348
yes                  174
public               102
street                32
fee                   22
valet parking         21
validated parking      3
Name: parking_lot, dtype: int64

In [271]:
# For the time being I will not reduce dimensionality for this dataset because it is straightforward
R4 = pd.get_dummies(parking,columns=['parking_lot']).groupby(['placeid'],as_index=False).sum()
print(R4.shape)
R4.head(10)

(675, 8)

,placeid,parking_lot_fee,parking_lot_none,parking_lot_public,parking_lot_street,parking_lot_valet parking,parking_lot_validated parking,parking_lot_yes
0,132012,0,0,1,1,0,0,0
1,132023,1,0,1,0,0,0,0
2,132024,0,0,0,1,0,0,0
3,132026,1,0,0,0,0,0,0
4,132030,0,0,0,1,0,0,0
5,132031,0,0,0,1,0,0,1
6,132107,0,0,1,0,0,0,0
7,132111,0,0,1,0,0,0,1
8,132155,1,0,1,0,0,0,0
9,132157,0,0,0,0,0,0,1

In [407]:
#This data set did not read for some reason. I had to make some modifications to the raw file to replace foreign characters.
geo_places = pd.read_csv(geo_places_url, na_values= '?')
print(geo_places.isnull().sum())
print(geo_places.shape)
geo_places.head(10).T

placeID             0
latitude            0
longitude           0
the_geom_meter      0
name                0
address            27
city               18
state              18
country            28
fax               130
zip                74
alcohol             0
smoking_area        0
dress_code          0
accessibility       0
price               0
url               116
Rambience           0
franchise           0
area                0
other_services      0
dtype: int64
(130, 21)

,0,1,2,3,4,5,6,7,8,9
placeID,134999,132825,135106,132667,132613,135040,132732,132875,132609,135082
latitude,18.9154,22.1474,22.1497,23.7527,23.7529,22.1356,23.7544,22.1499,23.7603,22.1514
longitude,-99.1849,-100.983,-100.976,-99.1634,-99.1651,-100.97,-99.1713,-100.994,-99.1659,-100.915
the_geom_meter,0101000020957F000088568DE356715AC138C0A525FC46...,0101000020957F00001AD016568C4858C1243261274BA5...,0101000020957F0000649D6F21634858C119AE9BF528A3...,0101000020957F00005D67BCDDED8157C1222A2DC8D84D...,0101000020957F00008EBA2D06DC8157C194E03B7B504E...,0101000020957F00001B552189B84A58C15A2AAEFD2CA2...,0101000020957F00008A20E615808157C16272FECBF84F...,0101000020957F00008A2A0747DE4758C11EB31D2A31A8...,0101000020957F0000A478418BBA8057C133851EB22C4E...,0101000020957F0000A29FAF95CD4958C1FEEEBB73A991...
name,Kiku Cuernavaca,puesto de tacos,El Rincon de San Francisco,little pizza Emilio Portes Gil,carnitas_mata,Restaurant los Compadres,Taqueria EL amigo,shi ro ie,Pollo_Frito_Buenos_Aires,la Estrella de Dimas
address,Revolucion,esquina santos degollado y leon guzman,Universidad 169,calle emilio portes gil,lic. Emilio portes gil,Camino a Simon Diaz 155 Centro,Calle Mezquite Fracc Framboyanes,NaN,tampico,Villa de Pozos 192 Villa de Pozos
city,Cuernavaca,s.l.p.,San Luis Potosi,victoria,victoria,San Luis Potosi,Cd Victoria,NaN,victoria,San Luis Potosi
state,Morelos,s.l.p.,San Luis Potosi,tamaulipas,Tamaulipas,SLP,Tamaulipas,NaN,Tamaulipas,SLP
country,Mexico,mexico,Mexico,NaN,Mexico,Mexico,Mexico,NaN,Mexico,Mexico
fax,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
zip,NaN,78280,78000,NaN,NaN,74000,87018,NaN,NaN,78421
alcohol,No_Alcohol_Served,No_Alcohol_Served,Wine-Beer,No_Alcohol_Served,No_Alcohol_Served,Wine-Beer,No_Alcohol_Served,Wine-Beer,No_Alcohol_Served,No_Alcohol_Served
smoking_area,none,none,only at bar,none,permitted,none,none,section,not permitted,none
dress_code,informal,informal,informal,informal,informal,informal,casual,informal,informal,informal
accessibility,no_accessibility,completely,partially,completely,completely,no_accessibility,completely,no_accessibility,completely,no_accessibility
price,medium,low,medium,low,medium,high,low,high,low,medium
url,kikucuernavaca.com.mx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Rambience,familiar,familiar,familiar,familiar,familiar,familiar,familiar,familiar,quiet,familiar
franchise,f,f,f,t,t,f,f,t,t,f
area,closed,open,open,closed,closed,closed,open,open,closed,closed
other_services,none,none,none,none,none,none,none,Internet,none,none

In [413]:
geo_places['has_url'] = 1 if geo_places['url'] != 'NaN' else 0

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [404]:
geo_places['url'] = 'NaN'

In [410]:
geo_places.rename(str.lower, axis='columns', inplace=True)

# I will cut geo_places because it is a unique value throughout.
print(geo_places['the_geom_meter'].value_counts(), '\n')

#We can see that name are pretty much unique all throughout. At this moment I will not try to make anything out of this column.
print(geo_places['name'].value_counts(), '\n')

#We can see that a few restaurants are near each other when they have the same address.
#because of possible typos that we have seen on other columns I decided Longitude and Latitude is a better measure for distance.
print(geo_places['address'].value_counts(),'\n')

#We can see that city might be a useful feature to clean up. I will start by removing dots, making it all lower caps.
before_changes = geo_places['city'].value_counts()
print(before_changes, '\n')
geo_places['city'] = geo_places['city'].str.replace('.','')
geo_places['city'] = geo_places['city'].str.replace(' ','')
geo_places['city'] = geo_places['city'].str.lower()
geo_places['city'] = geo_places['city'].str.replace('cdvictoria','victoria')
geo_places['city'] = geo_places['city'].str.replace('ciudadvictoria','victoria')
geo_places['city'] = geo_places['city'].str.replace('sanluispotosi','sanluispotos')
geo_places['city'] = geo_places['city'].str.replace('slp','sanluispotos')
geo_places['city'] = geo_places['city'].fillna('sanluispotos')
#after cleaning up this column
print(geo_places['city'].value_counts(),'\n')

# This looks like a column that will need cleaning up as well but similar to city.
print(geo_places['state'].value_counts(),'\n')
geo_places['state'] = geo_places['state'].str.replace('.','')
geo_places['state'] = geo_places['state'].str.replace(' ','')
geo_places['state'] = geo_places['state'].str.lower()
geo_places['state'] = geo_places['state'].str.replace('slp','sanluispotosi')
geo_places['state'] = geo_places['state'].str.replace('sanluispotosi','sanluispotos')
geo_places['state'] = geo_places['state'].fillna('sanluispotos')
# There is a state called Mexico in Mexico. I have to make sure that this value is correct later.
print(geo_places['state'].value_counts(),'\n')

#we can see that this is inteded as a boolean
print(geo_places['franchise'].value_counts(), '\n')
geo_places['franchise'] = geo_places['franchise'].str.replace('f','0')
geo_places['franchise'] = geo_places['franchise'].str.replace('t','1')
geo_places['franchise'] = geo_places['franchise'].astype('int64').astype('bool')
print(geo_places['franchise'].value_counts(), '\n')

# This column has 3 unique values and does not need work.
print(geo_places['other_services'].value_counts(), '\n')

0101000020957F00003AE4C6DBF48157C1CE38ECC1864E4941    1
0101000020957F00002A0D05E2D96D5AC1AB058CB1EC564A41    1
0101000020957F000000DD3546816E5AC119D4BD17FD544A41    1
0101000020957F0000B1F935F9FA775AC1D06DFD1017514A41    1
0101000020957F0000F2F4110CF28157C1DCFD7C1BA04D4941    1
                                                     ..
0101000020957F0000EA4F00C5A08557C140085474D9494941    1
0101000020957F000076F426DC856C5AC1CB520721F84E4A41    1
0101000020957F0000A6BF695F136F5AC1DADF87B205564A41    1
0101000020957F000005810F19B84858C136805B2745A74B41    1
0101000020957F000033331E4B804858C166643087ADA94B41    1
Name: the_geom_meter, Length: 130, dtype: int64

Gorditas Dona Tota                  2
El Rincon de San Francisco          2
la Estrella de Dimas                1
Mikasa                              1
McDonalds Centro                    1
                                   ..
Restaurante y Pescaderia Tampico    1
la perica hamburguesa               1
Paniroles                           1
Subway                              1
Restaurant Wu Zhuo Yi               1
Name: name, Length: 128, dtype: int64

Ricardo B. Anaya                    3
Av. V. Carranza                     2
venustiano carranza                 2
Calle Mezquite Fracc Framboyanes    1
De Guadalupe 460 San Miguelito      1
                                   ..
Av. Carranza 830                    1
Miguel Barragan 46 Centro           1
69 Tres De Mayo                     1
Paseo de las Fuentes                1
blvrd emilio portes gil             1
Name: address, Length: 99, dtype: int64

San Luis Potosi     64
Cuernavaca          15
victoria            10
san luis potosi      5
Jiutepec             4
victoria             2
Soledad              2
Ciudad Victoria      2
s.l.p.               1
s.l.p                1
cuernavaca           1
Cd Victoria          1
Cd. Victoria         1
san luis potos       1
slp                  1
san luis potosi      1
Name: city, dtype: int64

sanluispotos    92
victoria        16
cuernavaca      16
jiutepec         4
soledad          2
Name: city, dtype: int64

SLP                50
Morelos            19
San Luis Potosi    14
tamaulipas          9
Tamaulipas          7
san luis potosi     4
slp                 2
mexico              2
S.L.P.              2
morelos             1
s.l.p.              1
san luis potos      1
Name: state, dtype: int64

sanluispotos    92
morelos         20
tamaulipas      16
mexico           2
Name: state, dtype: int64

f    108
t     22
Name: franchise, dtype: int64

False    108
True      22
Name: franchise, dtype: int64

none        119
variety       7
Internet      4
Name: other_services, dtype: int64

In [411]:
#I'm considering using URL as a way to predict if it has a url or not.
#Restaurants without a URL might just not have a website.
#from looking at the documentation for the dataset I can see that there are no other columns to clean up.
R5 = geo_places.drop(columns = ['fax', 'zip','url','country', 'name','the_geom_meter','address'])
print(R5.shape)
R5.head(30)

(130, 15)

,placeid,latitude,longitude,city,state,alcohol,smoking_area,dress_code,accessibility,price,rambience,franchise,area,other_services,has_url
0,134999,18.915421,-99.184871,cuernavaca,morelos,No_Alcohol_Served,none,informal,no_accessibility,medium,familiar,False,closed,none,kikucuernavaca.com.mx
1,132825,22.147392,-100.983092,sanluispotos,sanluispotos,No_Alcohol_Served,none,informal,completely,low,familiar,False,open,none,NaN
2,135106,22.149709,-100.976093,sanluispotos,sanluispotos,Wine-Beer,only at bar,informal,partially,medium,familiar,False,open,none,NaN
3,132667,23.752697,-99.163359,victoria,tamaulipas,No_Alcohol_Served,none,informal,completely,low,familiar,True,closed,none,NaN
4,132613,23.752903,-99.165076,victoria,tamaulipas,No_Alcohol_Served,permitted,informal,completely,medium,familiar,True,closed,none,NaN
5,135040,22.135617,-100.969709,sanluispotos,sanluispotos,Wine-Beer,none,informal,no_accessibility,high,familiar,False,closed,none,NaN
6,132732,23.754357,-99.171288,victoria,tamaulipas,No_Alcohol_Served,none,casual,completely,low,familiar,False,open,none,NaN
7,132875,22.149901,-100.993779,sanluispotos,sanluispotos,Wine-Beer,section,informal,no_accessibility,high,familiar,True,open,Internet,NaN
8,132609,23.760268,-99.165865,victoria,tamaulipas,No_Alcohol_Served,not permitted,informal,completely,low,quiet,True,closed,none,NaN
9,135082,22.151448,-100.915099,sanluispotos,sanluispotos,No_Alcohol_Served,none,informal,no_accessibility,medium,familiar,False,closed,none,NaN
10,135070,22.152918,-100.915164,sanluispotos,sanluispotos,No_Alcohol_Served,none,informal,no_accessibility,medium,familiar,False,closed,none,NaN
11,135069,22.140129,-100.944872,sanluispotos,sanluispotos,Wine-Beer,none,informal,no_accessibility,low,familiar,False,closed,none,NaN
12,135065,22.149580,-100.999557,sanluispotos,sanluispotos,Wine-Beer,section,informal,no_accessibility,high,familiar,False,closed,none,NaN
13,135076,22.181017,-100.973614,sanluispotos,sanluispotos,Wine-Beer,none,informal,no_accessibility,high,familiar,False,closed,none,NaN
14,135086,22.141421,-101.013955,sanluispotos,sanluispotos,No_Alcohol_Served,not permitted,informal,no_accessibility,medium,familiar,True,closed,none,NaN
15,132870,22.143078,-100.935479,sanluispotos,sanluispotos,No_Alcohol_Served,not permitted,informal,no_accessibility,low,familiar,False,closed,none,NaN
16,132854,22.137863,-100.938327,sanluispotos,sanluispotos,Wine-Beer,none,informal,completely,medium,familiar,False,closed,none,NaN
17,132937,22.150019,-100.979920,sanluispotos,sanluispotos,Full_Bar,section,informal,completely,low,quiet,False,closed,variety,NaN
18,132856,22.151378,-100.974634,sanluispotos,sanluispotos,Wine-Beer,none,informal,completely,low,familiar,False,closed,none,NaN
19,132668,23.738212,-99.151955,victoria,tamaulipas,No_Alcohol_Served,none,informal,completely,low,familiar,False,closed,none,NaN
20,135033,22.141610,-100.973142,sanluispotos,sanluispotos,No_Alcohol_Served,section,informal,no_accessibility,medium,familiar,False,closed,none,NaN
21,132862,22.150643,-100.987015,sanluispotos,sanluispotos,Wine-Beer,none,casual,completely,high,familiar,False,closed,none,NaN
22,134983,18.948657,-99.235361,cuernavaca,morelos,Full_Bar,section,informal,no_accessibility,high,familiar,False,closed,none,carlosandcharlies.com
23,132851,22.136872,-100.934574,sanluispotos,sanluispotos,No_Alcohol_Served,not permitted,informal,completely,low,familiar,False,closed,none,NaN
24,135013,18.917441,-99.165945,jiutepec,morelos,No_Alcohol_Served,none,informal,no_accessibility,low,familiar,False,closed,none,NaN
25,135042,22.159357,-100.973411,sanluispotos,sanluispotos,No_Alcohol_Served,none,informal,no_accessibility,medium,familiar,False,closed,none,NaN
26,132768,18.925773,-99.232636,cuernavaca,morelos,No_Alcohol_Served,not permitted,casual,partially,medium,familiar,True,closed,none,NaN
27,132561,23.726819,-99.126506,sanluispotos,sanluispotos,No_Alcohol_Served,none,informal,completely,low,familiar,False,closed,none,NaN
28,135045,22.151189,-100.981790,sanluispotos,sanluispotos,Wine-Beer,none,casual,no_accessibility,high,familiar,False,closed,none,lagranvia.com.mx
29,132847,22.144336,-100.937382,sanluispotos,sanluispotos,No_Alcohol_Served,none,informal,no_accessibility,low,familiar,False,open,none,NaN

In [374]:
R5['has_a_url'][R5['has_a_url'] == False]

Series([], Name: has_a_url, dtype: object)

In [87]:
user_payment = pd.read_csv(user_payment_url,na_values= '?')
print(user_payment.isnull().sum())
print(user_payment.shape)
user_payment.head(10)

userID      0
Upayment    0
dtype: int64
(177, 2)

  userID          Upayment
0  U1001              cash
1  U1002              cash
2  U1003              cash
3  U1004              cash
4  U1004  bank_debit_cards
5  U1005              cash
6  U1006              cash
7  U1007              cash
8  U1008              cash
9  U1009              cash

In [101]:
user_payment.rename(str.lower, axis='columns', inplace=True)
user_payment['upayment'] = user_payment['upayment'].str.lower()
user_payment['userid'] = user_payment['userid'].str.lower()

### With this I have made sure to see what type of payments I should include in my final predictions.

In [141]:
payment = payment_methods.rpayment.value_counts().index.tolist()
for i in range(len(payments)):
    if len(user_payment.upayment[user_payment.upayment == payment[i]].value_counts()) == 1:
        print(user_payment.upayment[user_payment.upayment == payment[i]].value_counts(), '\n')
    else:
        print(f'{payment[i]} has no values \n')

cash    131
Name: upayment, dtype: int64

visa    17
Name: upayment, dtype: int64

mastercard-eurocard    4
Name: upayment, dtype: int64

american_express    3
Name: upayment, dtype: int64

bank_debit_cards    22
Name: upayment, dtype: int64

diners_club has no values

discover has no values

checks has no values

carte_blanche has no values

gift_certificates has no values

japan_credit_bureau has no values